<h2 style="color: white; text-align: center; margin-bottom: 15px; font-size: 20px;">Task Tracker by Kyra</h2>
<div class="box">
  <h2>Add New Task</h2>
  <form #taskForm="ngForm" (ngSubmit)="addTask(taskForm)">
    <!-- Success message for task addition -->
    <div *ngIf="successMessage" style="color: green; text-align: center; margin-bottom: 10px;">
      {{ successMessage }}
    </div>

    <!-- Error message for minimum length -->
    <div *ngIf="minLengthError" style="color: red; text-align: center; margin-bottom: 10px;">
      Task Name must be at least 3 characters long.
    </div>

    <div *ngIf="taskForm.submitted && taskName.errors?.['maxlength']">
      <p style="color: red;">Task Name must be less than 50 characters long.</p>
    </div>

    <!-- Task Name with min and max length validation -->
    <label for="name">Task Name</label>
    <input 
      id="name" 
      [(ngModel)]="task.taskName" 
      name="name" 
      required 
      minlength="3" 
      maxlength="50" 
      #taskName="ngModel"
      placeholder="Name (3-50 characters)"
    >
  
  
    <!-- Task Description with max length validation -->
    <label for="description">Description</label>
    <textarea 
      id="description" 
      style="height:160px;" 
      [(ngModel)]="task.description" 
      name="description" 
      maxlength="500" 
      #taskDescription="ngModel"
      placeholder="Description (max 500 characters)"
    ></textarea>
    <!-- Error message for Task Description -->
    <div *ngIf="taskForm.submitted && taskDescription.errors?.['maxlength']">
      <p style="color: red;">Task Description must be less than 500 characters long.</p>
    </div>

    <label for="status">Status</label>
    <select id="status" [(ngModel)]="task.status" name="status">
      <option value="Pending">Pending</option>
      <option value="Completed">Completed</option>
    </select>

    <button type="submit">Create</button>
  </form>
</div>
<app-navigation></app-navigation>
